<!DOCTYPE html>
<html ng-app="scrobblerApp">
    <head>
        <meta charset="utf-8">
        <title>Last.fm Login</title>
        <meta name="description" content="A privileged app stub">

        <!--
          viewport allows you to control how mobile browsers will render your content.
          width=device-width tells mobile browsers to render your content across the
          full width of the screen, without being zoomed out (by default it would render
          it at a desktop width, then shrink it to fit.)
          Read more about it here:
          https://developer.mozilla.org/Mozilla/Mobile/Viewport_meta_tag
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/normalize.css">

        <!--
        Inline JavaScript code is not allowed for privileged and certified apps,
        due to Content Security Policy restrictions.
        You can read more about it here: https://developer.mozilla.org/Apps/CSP
        Plus keeping your JavaScript separated from your HTML is always a good practice!

        We're also using the 'defer' attribute. This allows us to tell the browser that
        it should not wait for this file to load before continuing to load the rest of
        resources in the page. Then, once everything has been loaded, it will parse and
        execute the deferred files.
        Read about defer: https://developer.mozilla.org/Web/HTML/Element/script#attr-defer
        -->

        <!--
        The following two lines are for loading the localisations library
        and the localisation data-so people can use the app in their
        own language (as long as you provide translations).
        -->
        <link rel="prefetch" type="application/l10n" href="data/locales.ini" />
        <script type="text/javascript" src="js/libs/l10n.js" defer></script>
        <script type="text/javascript" src="js/libs/md5.js"></script>
        <script type="text/javascript" src="js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="js/libs/foundation.min.js"></script>
        <script type="text/javascript" src="js/libs/angular.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-ui-router.min.js"></script>
         
        <script type="text/javascript" src="js/login.js"></script>
        <script type="text/javascript" src="js/last.fm.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
    </head>
    <body ng-controller='AppCtrl' style="background-color: #1D1D1D">
        <div id="wrapper" class="off-canvas-wrap" data-offcanvas style="height: 100%; overflow: scroll">
            <div class="inner-wrap" style="height: 100%">
                <nav class="tab-bar" id="navbar" style="display: none">
                  <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" ui-sref="profile" ng-click="toggleOffCanvas()"><span></span></a>
                  </section>

                  <section class="middle tab-bar-section">
                    <h1 class="title">FxOS Scrobbler</h1>
                  </section>
                </nav>

                <aside class="left-off-canvas-menu">
                  <ul class="off-canvas-list">
                    <li><label>General</label></li>
                    <li><a ui-sref="nowplaying">Now Playing</a></li>
                    <li><a ui-sref="statistics">Statistics</a></li>
                    <li><label>Settings</label></li>
                    <li><a ui-sref="profile">Profile</a></li>
                    <li><a ui-sref="settings">Settings</a></li>
                  </ul>
                  <a class="button expand" ng-click="logOff()" style="position:absolute; bottom: 0; margin: 0">Log Out</a>
                </aside>

                <section class="main-section">
                    <div id="mainview" ui-view />
                </section>

            <a class="exit-off-canvas" ng-click="toggleOffCanvas()"></a>

         </div>
       </div>
    </body>
</html>
